<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Nombre</th>
            <th>Desarrollador</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Compra</th>
        </tr>
        <tr *ngFor="let game of games" [ngClass]="{'enOferta' : game.oferta}">
            <td><img [src]="game.image" [alt]="game.nombre"></td>
            <td>{{game.nombre}}</td>
            <td>{{game.desarrollador}}</td>
            <td>{{game.precio | currency}}</td>
            <td><span class="badge text-bg-warning" *ngIf="game.stock == 0">Sin Stock</span></td>
            <td><span class="badge text-bg-success" *ngIf="game.oferta == true">En Oferta</span></td>
            <td><app-input-number [(quantity)] ="game.cantidad" [max]="game.stock" *ngIf="game.stock"></app-input-number></td>

            
        </tr>
    </thead>
</table>


